<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihewro.focus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.FeedManageActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FeedListActivity" />
        <activity android:name=".activity.PicActivity" />
        <activity android:name=".activity.LoginRegisterActivity" />
        <activity android:name=".activity.StarActivity" />
        <activity android:name=".activity.FeedCategoryActivity" />
        <activity android:name=".activity.ErrorActivity" />
        <activity android:name=".activity.PostDetailActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>